
*{
    box-sizing: border-box;
}


html, body{

   margin: 0;
    height: 100vh;
    
}

body{
    --primary-color: rgb(0, 0, 0);
    --accent-color: rgb(0, 93, 17);
    --text-color:rgb(255, 255, 255);

}

.theme-checked{
    --primary-color: rgb(0, 0, 0);
    --accent-color: rgb(0, 93, 17);
    --text-color:rgb(255, 255, 255);

}




.theme-checked:checked{

    background-color: white;
   



}
.dark{
    --primary-color: rgb(0, 0, 0);
    --accent-color: rgb(0, 93, 17);
    --text-color:rgb(255, 255, 255);

}


.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.toolbar{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    background-color: var(--accent-color);
    color: var(--text-color);
}

.text-div{
    flex: 1;
    margin:30px;
    background-color: var(--primary-color);
    color: var(--text-color);

}



